:root {
  /* Natural Colors */
  /* --forest-green: #0e8734; */
  --forest-green: #007124;
  /* --tuscan-sun: #edbb32; */
  --tuscan-sun: #FFA200;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Brand Colors */
  --color-primary: var(--forest-green);
  --color-accent: var(--tuscan-sun);

  /* Text */
  --color-text-primary: var(--color-white);
  --color-text-secondary: rgba(255, 255, 255, 0.9);

  /* Backgrounds */
  --color-bg-primary: var(--color-primary);
  --color-bg-surface: var(--color-white);

  /* Borders */
  --color-border-light: rgba(255, 255, 255, 0.25);

  /* Shadows */
  --shadow-card: 0 16px 40px rgba(0, 0, 0, 0.18);

  /* Radius */
  --radius-card: 1.5rem;
  --radius-button: 0.75rem;

  /* Spacing */
  --section-padding: 6rem;
}