@import "tailwindcss";
@import "./styles/theme.css";

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: var(--font-body); */

  color: var(--color-text);

  background: var(--color-surface);
}

h1 {
  font-family: var(--font-heading);
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}